<h1>All Flavors</h1>

<div class="container">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Awesomeness</th>
        </tr>
    </thead>
    <tbody>
        {{#each icecreams }}
        <tr>
            <td>{{ name }}</td>
            <td>${{ price }}</td>
            <td>{{ awesomeness }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

</div>