<div class="card container">
    <h1 class="card-header">
        {{#if name}}
        {{name}}
        {{else }}
        Sorry, that flavor's not found!
        {{/if}}
    </h1>
    <div class="card-body">
        {{#if name}}

            
        


    <ul class="card-text">
        <li><strong>Price:</strong> ${{ price }}</li>
        <li><strong>Awesomeness:</strong> {{ awesomeness }}</li>
    </ul>


{{/if}}
    </div>
</div>





